{% extends 'base.html' %}
{% block content %}
<br/>

{% if object_list %}
{% for post in object_list %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'article_details' post.pk %}">
            {{ post.title }}</a></h5>
        <p class="card-text">{{ post.body|slice:":200"|safe}}</p>
        <a href="{% url 'update_post' post.pk %}"><i class="pencil-square"></i></a>
        <a href="{% url 'delete_post' post.pk %}"><i class="trash-fill"></i></a>
        <span class="badge rounded-pill bg-light text-dark">
                <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a>
            </span>
    </div>
</div>
{% endfor %}
{% else %}
<div class="alert alert-primary" role="alert">
    <strong>There are no posts</strong>
</div>
{% endif %}

{% endblock %}
